Repository lucitra/lucitra-webhook-server, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, tests, documentation, infrastructure, ci/cd, config, dependencies

.github/labeler.yml:

# Label configuration for PR auto-labeling

# Source code changes
backend:
  - src/**/*
  - '*.js'

# Test changes
tests:
  - tests/**/*
  - '**/*.test.js'
  - '**/*.spec.js'

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# Infrastructure changes
infrastructure:
  - terraform/**/*
  - Dockerfile
  - docker-compose.yml
  - .dockerignore

# CI/CD changes
ci/cd:
  - .github/**/*
  - scripts/**/*
  - cloudbuild.yaml

# Configuration changes
config:
  - config/**/*
  - '**/*.json'
  - '**/*.yaml'
  - '**/*.yml'
  - .env*

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

Simplify deployment for solo developer
  .github/workflows/ci-cd.yml
  .github/workflows/pr-validation.yml
  .github/workflows/promote.yml
  .github/workflows/simple-deploy.yml
  .github/workflows/terraform.yml
  README-SIMPLE.md
Labels: documentation, ci/cd, config

Add staging environment to deployment pipeline
  .github/workflows/simple-deploy.yml
  README-SIMPLE.md
Labels: documentation, ci/cd, config

fix: trigger deployment after fixing workload identity
  README-SIMPLE.md
Labels: documentation

fix: retry deployment after enabling IAM credentials API
  README-SIMPLE.md
Labels: documentation

fix: retry after enabling Cloud Build API
  .github/workflows/simple-deploy.yml
  README-SIMPLE.md
  scripts/setup-secrets.sh
Labels: documentation, ci/cd, config

fix: add storage permissions for Cloud Build
  README-SIMPLE.md
Labels: documentation

fix: switch to Artifact Registry and direct Docker build
  .github/workflows/simple-deploy.yml
Labels: ci/cd, config

feat: update webhook handler for HubSpot v3 format
  scripts/setup-hubspot-webhooks.js
  scripts/webhook-curl-example.sh
  src/handlers/webhook.js
  src/middleware/validation.js
Labels: backend, ci/cd

feat: implement proper webhook signature validation with Secret Manager
  src/middleware/validation.js
Labels: backend

feat: add handlers for contact privacy deletion events
  src/services/webhook-processor.js
Labels: backend

Update webhook validation to use client secret
  WEBHOOK_AUTHENTICATION.md
  src/middleware/validation.js
  src/services/webhook-processor.js
Labels: backend, documentation

Add Cloud Build configuration for branch-based deployments
  cloudbuild.yaml
Labels: ci/cd, config

Remove simple deploy workflow configuration
  .github/workflows/simple-deploy.yml
Labels: ci/cd, config
